@page "{sortState?}"
@model CarMarketplace.Pages.IndexModel
@using CarMarketplace.Services
@using System;
@{
    ViewData["Title"] = "Главная";
}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Сортировать
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" asp-route-sortState="0" asp-page="Index">По дате публикации</a></li>
    <li><a class="dropdown-item" asp-route-sortState="1" asp-page="Index">По цене, по возрастанию</a></li>
    <li><a class="dropdown-item" asp-route-sortState="2" asp-page="Index">По цене, по убыванию</a></li>
  </ul>
</div>
<div class="container">
    @foreach(var adViewModel in Model.AdsViewModel)
    {
        <div class="row justify-content-center">
            <div class="card col my-2 bg-light" style="max-width: 540px;">
                <a class="text-dark nav-link" asp-route-id="@adViewModel.ID" asp-page="Application/Advertisement">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@adViewModel.Title</h5>
                                <p class="card-text">@adViewModel.Price руб.</p>
                                <p class="card-text"><small class="text-muted">@adViewModel.InsertationDate.ToString("g")</small></p>                       
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>