@page
@model CarMarketplace.Pages.Application.AdvertisementModel
@{
    ViewData["Title"] = "Объявление";
    ViewData["UserName"] = "Вход/Регистрация";
}

<h1 class="display-5 mb-3" >Заголовок объявления</h1>
<h6>Цена</h6>
<p><small>Дата публикации</small></p>
<h1 class="display-6 mb-3">Характеристики</h1>
<ul class="list-group">
  <li class="list-group-item">Год выпуска</li>
  <li class="list-group-item">Мощность двигателя, л.с.</li>
  <li class="list-group-item">Тип трансмиссии</li>
  <li class="list-group-item">Техническое состояние</li>
</ul>