@page
@model CarMarketplace.Pages.Application.PlaceAdvertisementModel
@using CarMarketplace.Models
@{
    ViewData["Title"] = "Разместить объявление";
}

<h1 class="display-6 mb-3">Новое объявление</h1>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="make" asp-for="Make">
        <label for="make">Марка</label>
        <span asp-validation-for="Make"></span>
    </div>    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="model" asp-for="Model">
        <label for="name">Модель</label>
        <span asp-validation-for="Model"></span>
    </div>   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="yearOfManufacture" asp-for="YearOfManufacture">
        <label for="yearOfManufacture">Год выпуска</label>
        <span asp-validation-for="YearOfManufacture"></span>
    </div>   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="enginePower" asp-for="EnginePower">
        <label for="enginePower">Мощность двигателя, л.с.</label>
        <span asp-validation-for="EnginePower"></span>
    </div>   
    <div class="form-floating mb-3">
        @Html.DropDownListFor(x => x.Transmission, Html.GetEnumSelectList(typeof(TransmissionType)), "Выберите тип трансмиссии")
    </div>   
    <div class="form-floating mb-3">
        @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList(typeof(CarType)), "Выберите тип машины")
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="kilometrage" asp-for="Kilometrage">
        <label for="kilometrage">Пробег</label>    
        <span asp-validation-for="Kilometrage"></span>
    </div>  
    <div class="form-floating mb-3">
        <textarea class="form-control" name="description" rows="3" asp-for="Description"></textarea>
        <label for="description">Описание</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="price" asp-for="Price">
        <label for="price">Цена, руб.</label>
        <span asp-validation-for="Price"></span>
    </div>
    <button type="submit" class="btn btn-primary">Разместить объявление</button>
</form>
