@page
@model CarMarketplace.Pages.Application.SignUpModel
@{
    ViewData["Title"] = "Регистрация";
}

<form method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="name" asp-for="Name">
        <label for="name">Имя</label>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-floating mb-3">       
        <input type="text" class="form-control" name="city" asp-for="City">
        <label for="city">Город</label>
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-floating mb-3">        
        <input type="tel" class="form-control" name="phone" asp-for="Phone">  
        <label for="phone">Номер телефона</label>
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="form-floating mb-3">        
        <input type="email" class="form-control" name="email" asp-for="Email">     
        <label for="email">Почта</label>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-floating mb-3">        
        <input type="password" class="form-control" name="password" asp-for="Password">    
        <label for="password">Пароль</label>
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
<a asp-page="SignIn"><small>Вход</small></a>