@page 
@model CarMarketplace.Pages.Application.SignInModel
@{
    ViewData["Title"] = "Вход";
}

<form method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="login">
        <label for="login">Почта или номер телефона</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" name="password">
        <label for="password">Пароль</label>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<a asp-page="SignUp"><small>Регистрация</small></a>